// Firefox
* {
  scrollbar-width: thin;
  scrollbar-color: $accentBlue $bgColor;
  // Chrome, Edge, and Safari
  &::-webkit-scrollbar {
    width: rem(8);
    background-color: $bgColor;
  }
  &::-webkit-scrollbar-track {
    background: $bgColor;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: rem(4);
    background: $mainGradient;
    transition: all 280ms ease-in-out;
    &:hover {
      background: $accentPurple;
    }
  }
}
